:root{
    --navbar-height:92px;
    --main-color: black;
    --secondary-color: #FEE906;
    --text-color: white;
}

body {
  background-color: var(--main-color);
  font-family: "open-sans";
}


nav{
    height: var(--navbar-height);
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    line-height: 1.1;
    text-shadow: 3px 3px 3px black;
    margin-left: 40px;
}

.logo h2{
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
}



nav ul{
    display: flex;
    gap: 100px;
    color: var(--text-color);
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    position: relative; 
}

nav ul li a:hover{
    color: var(--secondary-color);
}

nav ul li a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0); 
    transition: transform 0.3s ease-out; 
}

nav ul li a:hover::before{
    transform: scaleX(1); 
}

.hero{
    width: 100vw;
    height: 600px;
    background: url(../img/sidekix-media-7jlVQPX8PLE-unsplash\(1\).jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

 .hero > div {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 10px;
    width: 60%;
    margin: 0 auto 50px;
    text-align: center;
  }
.hero > div > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  
 
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .card {
    margin: 10px;
    width: 270px;
    height: 250px;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }
  
  .card-heading {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
  }

  
  
  .card .underline {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 10px auto 0;
  }
  
  .card:hover .card-heading h2 {
    color: var(--secondary-color);
  }
  
  .card:hover .card-heading .underline {
    background-color: var(--secondary-color);
  }



  
  





 


